.box-all-news {
    width: 80%;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 80px;
    border-radius: 8px;
}

.box-all-news h2{
    color: #00796b;
    font-size: 26px;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
}

.news-item {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #ddd;
    padding: 15px 0;
}

.news-item:last-child {
    border-bottom: none;
}

.news-image {
    width: 250px;
    height: 250px;
    margin-right: 20px;
}

.news-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.news-content {
    flex: 1;
    min-width: 200px;
}

.news-content h3 {
    color: #388e3c;
    font-size: 20px;
    margin: 0 0 10px;
    text-transform: capitalize;
}

.news-content p {
    color: #666;
    margin: 0 0 10px;
    font-size: 14px;
}

.see-more {
    color: #388e3c;
    font-weight: bold;
    text-decoration: none;
    font-size: 14px;
}

.see-more:hover {
    text-decoration: underline;
}

.news-date {
    color: #999;
    font-size: 12px;
    margin-bottom: 10px;
    font-style: italic;
}

@media (max-width: 768px) {
    .news-item {
        flex-direction: column;
        /* Chuyển bài viết thành dọc */
    }

    .news-image {
        margin-bottom: 15px;
        /* Thêm khoảng cách giữa ảnh và nội dung */
        margin: auto;
    }
    .news-image img{
        margin: auto;
    }

    .news-content h3 {
        font-size: 18px;
    }

    .see-more {
        font-size: 13px;
    }
}