.box-all-news {
    width: 80%;
    margin: 0 auto;
    margin-top: 90px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    line-height: 1.6;
}
.new-detail-box img{
    width: 400px;
    height: auto;
}
.box-all-news h1 {
    color: #00796b;
    font-size: 26px;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
}
.box-all-news p {
    margin: 15px 0;
}
.related-products {
    margin-top: 30px;
}
.related-products h2 {
    font-size: 20px;
    color: #333;
}

.news-item:last-child {
    border-bottom: none;
}

.news-detail-date{
    color: #999;
    font-size: 15px;
    margin-bottom: 10px;
    font-style: italic;
}

